<!-- <footer class="footer mt-auto" style="height: 60px; background-color:">
  <div style="text-align: right;">
    <span class="text-muted"> <i class="bi bi-linkedin" style="font-size: 20px; margin-right: 10px; margin-top: 20px;"></i></span>
    <span class="text-muted"> <i class="bi bi-twitter" style="font-size: 20px; margin-right: 10px;  margin-top: 20px;"></i></span>
    <span class="text-muted"> <i class="bi bi-facebook" style="font-size: 20px; margin-right: 10px; margin-top: 20px;"></i></span>
  </div>
</footer> -->

<footer class="text-center text-white" style="background-color: #e9ecef; margin-top:50px;">
    <div class="pt-4 row">
    <div class="text-center text-dark p-3 col-md-6">
            © 2020 Copyright: Rent A Car
      </div>
      <section class="col-md-6 mb-4">
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-facebook"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-twitter"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-instagram"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>

  </footer>