
<div class="container py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Admin Panel</h2>
    <div class="row g-5 py-5">
      <div class="col-md-3 d-flex align-items-start">
        <div class="icon-square bg-light flex-shrink-0 me-3" style="margin-right: 20px;">
            <i class="bi bi-lightning"></i>
        </div>
        <div>
          <h4>Add Brand</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
          <app-brand-add></app-brand-add>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-start">
        <div class="icon-square bg-light flex-shrink-0 me-3" style="margin-right: 20px;">
            <i class="bi bi-lightning"></i>
        </div>
        <div>
          <h4>Update Brand</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
          <app-brand-update></app-brand-update>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-start">
        <div class="icon-square bg-light flex-shrink-0 me-3" style="margin-right: 20px;">
            <i class="bi bi-lightning"></i>
        </div>
        <div>
          <h4>Add Color</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
          <app-color-add></app-color-add>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-start">
        <div class="icon-square bg-light flex-shrink-0 me-3" style="margin-right: 20px;">
            <i class="bi bi-lightning"></i>
        </div>
        <div>
          <h4>Update Color</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
          <app-color-update></app-color-update>
        </div>
      </div> 
      <div class="col-md-3 d-flex align-items-start" style="margin-top: 50px;">
        <div class="icon-square bg-light flex-shrink-0 me-3" style="margin-right: 20px;">
            <i class="bi bi-lightning"></i>
        </div>
        <div >
          <h4>Add Car</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
          <app-car-add></app-car-add>
        </div>
      </div>
    </div>
  </div>
  