<body class="text-center">
  <form class="form-signin" [formGroup] = "loginForm">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>
    <div class="form-label-group">
      <input
        formControlName ="email"
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required=""
        autofocus=""
      />
      <label for="inputEmail">Email address</label>
    </div>
    <div class="form-label-group">
      <input
        formControlName ="password"
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required=""
      />
      <label for="inputPassword">Password</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()" routerLink="/cars">
      Sign in
    </button>
  </form>
</body>
